.header-wrap {
    /* background: url('https://cdn.pixabay.com/photo/2015/01/08/18/30/entrepreneur-593371_640.jpg'); */
    background: url('https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849824_640.jpg');
    background: url('https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849818_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header-wrap-con {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
}

.header-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); */
    background: rgb(2, 0, 36);
    background: linear-gradient(137deg, rgba(2, 0, 36, 0.910316274947479) 1%, rgba(9, 9, 121, 0.7870669752275911) 27%, rgba(0, 212, 255, 0.11759918811274506) 100%);
    z-index: 0;
}

.header-wrap-con .logo .slash {
    background-color: #1b1a4e;
    padding: 6px 12px;
    border-radius: 2px;

}

.logo {
    text-decoration: none;
    color: #fff;
    align-self: flex-start;
    z-index: 1;

}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;
    color: #fff;
    z-index: 1;
}

.header-content .txt {
    width: 60%;
    margin-bottom: 40px;
}

.pre-btn {
    margin-bottom: 40px;
    padding: 15px 50px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.header-wrap-con .header-content .txt h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.header-wrap-con .header-content .txt p {
    color: #ffffffa7;
    font-size: 25px;
    padding-top: 20px;
    font-weight: 500;
}

.prop-section {
    display: flex;
    justify-content: space-evenly;
    padding: 90px;
}

.prop {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto 40px;
}

.prop-section .prop .icons {
    font-size: 50px;
}

.prop-section .prop h3 {
    margin: 15px 0;
}

.prop-section .prop .para {
    width: 350px;
    font-size: 20px;
    color: #00000089;
    font-weight: 400;
}

/* the how it works section */
.circle {
    background: rgb(229 164 18);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: #fff;
    padding: 14px 27px;
    font-size: 30px;
    font-weight: 700;
}

.how-content {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.steps-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    padding: auto 90px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto 50px; */
}

.steps-section h2 {
    font-size: 50px;
    font-weight: 600;
}

.steps-section .how-content .steps .step-txt h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 30px auto;
}

.steps-section .how-content .steps .step-txt p {
    width: 330px;
    font-size: 20px;
    color: #00000089;
    font-weight: 400;
}

.qual {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #72a4d83d;
    color: #1b1a4e;
    padding: 80px 40px 0px 40px;
}

.qual .txt {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.qual .txt p {
    width: 544px;
    text-align: center;
    margin: 25px auto;
    font-weight: 500;
}

.qual .txt h3 {
    font-size: 50px;
}

/* Footer */
footer {
    display: flex;
    margin: 30px 155px;
    justify-content: space-around;
}

footer .colFooterOne,
.colFooterTwo,
.colFooterThree {
    margin: 0px 75px;
}

footer .colFooterOne .webLogo .slash {
    background: #9eadb2;
    color: #fff;
    padding: 3px 9px;
    font-weight: bolder;
}

footer .colFooterOne p,
.colFooterTwo p,
.colFooterThree p {
    margin: 20px 0px;
    width: 65%;
    line-height: 25px;
    color: #7b7a7c;
}

footer .colFooterThree {
    width: 30%;
}

footer .colFooterThree span {
    color: #7b7a7c;
}